.library {
    position: fixed;
    left:0;
    top:0;
    width:20rem;
    height:100%;
    box-shadow: 2px 2px 50px gray;
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2 {
        padding: 2rem;
    }
    .library-songs {
        display: flex;
        flex-direction: column;
        align-items: center;
        .library-song {
            display: flex;
            cursor: pointer;
            padding: 1rem 2rem;
            img {
                width: 30%;
            }
            &:hover {
                background-color: rgb(154, 206, 238);
            }
            .song-description {
                padding-left: 1rem;
                h3 {
                    font-size: 1rem;
                }
                h4 {
                    font-size: 0.7rem;
                }
            }
        }
        .selected {
            background: lightskyblue;
        }
    }
   
}

.library-active {
    transform: translateX(0);
    opacity: 1;
}



* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.5) transparent;
}
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-track {
    background:transparent
}
*::-webkit-scrollbar-thumb {
    background-color:  rgba(155,155,155,0.5);
    border-radius:20px;
    border:transparent;
}
